{% extends 'base.html.twig' %}

{% block title %}Edit Consommation{% endblock %}

{% block body %}
    <h1>Edit Consommation</h1>

    {{ include('consommation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('consommation_index') }}">back to list</a>

    {{ include('consommation/_delete_form.html.twig') }}
{% endblock %}
