{% extends 'base.html.twig' %}

{% block body %}

<h1>BIENVENUE DANS LE SITE DE SENFORAGE</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempora impedit amet placeat, reprehenderit, commodi eum eveniet architecto consectetur natus accusantium neque temporibus id necessitatibus odio perferendis explicabo quibusdam atque vitae suscipit sapiente laborum sed! Minus blanditiis ducimus harum nesciunt!</p>
<p>Qui, laboriosam nisi! Laboriosam nihil autem, unde libero sint necessitatibus rerum quis aspernatur aut perferendis repellat at quam omnis enim ipsa delectus suscipit illum animi ratione debitis, corrupti dolorum magnam ad totam? Error enim esse nostrum odit asperiores consectetur ea?</p>
    
{% endblock %} 

